body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f6f8;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

header {
  background: #0d6efd;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

section {
  background: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  color: #0d6efd;
}

ul {
  line-height: 1.8;
}

.project {
  margin-bottom: 20px;
}

.project img {
  width: 100%;
  max-width: 600px;
  border-radius: 6px;
  margin-top: 10px;
}
.cv-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 25px;
  background: white;
  color: #0d6efd;
  text-decoration: none;
  font-weight: bold;
  border-radius: 25px;
}

.cv-btn:hover {
  background: #e9ecef;
}

